modules = ["nodejs-24", "postgresql-16", "python-base-3.13"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
TELEGRAM_BOT_TOKEN = "8831117418:AAGu1jOccIMYjH_rawkE3uiSlSeK9sLSaJM"
TELEGRAM_CHAT_ID = "-1003384801807"
